@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@font-face {
  font-family: "Mier";
  src: local("Mier A Demi Bold"), local("Mier-A-Demi-Bold"),
    url("/fonts/MierA-DemiBold.woff2") format("woff2"),
    url("/fonts/MierA-DemiBold.woff") format("woff"),
    url("/fonts/MierA-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f7fb;
  color: black;
  font-family: "Mier", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
